@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../../assets/fonts/Inter-Regular.ttf);
}

@font-face {
font-family: 'InterS', sans-serif;
  src: url(../../assets/fonts/Inter-SemiBold.ttf);
}