@use '../_utils/vars' as *;

.SignInForm {
  width: 385px;
  grid-area: 2 / 1 / 3 / 2;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 1.34px;
    text-align: left;
    margin-bottom: 46px;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

    > input {
      font-family: "InterS", sans-serif;
      font-weight: 600;
      width: 100%;
      height: 60px;
      border: 2px solid $mainColor;
      border-radius: 6px;
      padding: 13px 20px;
      font-size: 18px;
      line-height: 34px;
      letter-spacing: -0.33px;

      &:focus {
        border: 2px solid $secondaryColor;
      }
    }
  }

  &__setting {
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
    }

    input[type="checkbox"] {
      margin-right: 5px;
      height: 26px;
      width: 26px;
    }

    button:hover {
      color: $secondaryColor;
    }
  }

  &__button {
    font-family: "InterS", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #fff;
    border-radius: 6px;
    background-color: $mainColor;
    height: 64px;
    width: 100%;
  }

  &__button:hover {
    background-color: $secondaryColor;
  }

  &__info {
    text-align: left;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.33px;

    a {
      font-family: "InterS", sans-serif;
      color: $secondaryColor;
      font-weight: 600;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
